# Projeto 3 - Ciência dos Dados

Nome: Lara Christine Melo Vasconcelos

Nome: João Lucas Brasileiro

Nome: Yamandú Germano

Nome: Silas André Pereira

Nome: Enzo Christofoletti

___
Carregando algumas bibliotecas:

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [4]:
dados = pd.read_csv('dados_filtrados.csv',sep=';')
dados.head(5)

,vacina_descricao_dose,paciente_idade,paciente_racaCor_valor,paciente_endereco_uf,vacina_categoria_nome,paciente_enumSexoBiologico
0,1ª Dose,38.0,AMARELA,SP,Faixa Etária,M
1,3ª Dose,5.0,BRANCA,RS,Faixa Etária,M
2,1ª Dose,48.0,SEM INFORMACAO,SP,Faixa Etária,M
3,1ª Dose,77.0,SEM INFORMACAO,MG,Faixa Etária,F
4,Reforço,63.0,SEM INFORMACAO,SP,Faixa Etária,M

In [16]:
int(dados.shape[0]*.7)

734002

In [24]:
train = dados.iloc[:int(dados.shape[0]*.7)]
train.shape

(734002, 6)

In [25]:
test = dados.iloc[int(dados.shape[0]*.7):-1]
test.shape

(314572, 6)